@model PandaWeb.Models.EducationPlan

@{
    ViewBag.Title = "Radera Utbildning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Radera Utbildning</h2>

<h3>Är du säker på att du vill radera den här Utbildningen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaceOfStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaceOfStudy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormOfStudy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormOfStudy)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Radera" class="btn btn-default" /> |
            @Html.ActionLink("Tillbaka till listan", "Index")
        </div>
    }
</div>