@model IEnumerable<PandaWeb.Models.Documents>

@{
 Layout = "~/Views/Shared/_LayoutEducation.cshtml";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Document)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.DocType)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocType)
            </td>
            <td>
                @Html.ActionLink("Download", "DownloadFile", new { id = item.Id })
            </td>
        </tr>
    }

</table>
