@model IEnumerable<PandaWeb.Models.Protocol>
@{
    ViewBag.Title = "LG";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>LG-Information</h2>
<p>
	För att se när nästa möte är, klicka @Html.ActionLink("här", "Index", "Calendar")
</p>
<br />
<div>
	
	@Html.ActionLink("Ladda upp protokoll", "UploadProtocols", "Document", new { id=1}, null)
</div>
<div name="uppladdning">
	<table class="table">
		<tr>
			<th>Protokoll</th>
			
			<th>Datum</th>
			
		</tr>


		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				
				<td>
					@Html.DisplayFor(modelItem => item.Added)
				</td>

				<td>
					@Html.ActionLink(" Hämta", "DownloadProtocol", "Document", new { id = item.Id }, null)
				</td>
			</tr>
		}
	</table>
</div>
<br />
    -Medlemmar
<br />
    -Val/[Val]

